body {
  background-color: palegoldenrod;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation a {
  padding: 10px;
  color: green;
}

img {
  max-width: 600px;
}
